<!DOCTYPE HTML>
<html>
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css">

<title>Config Demo</title>
</head>
<body>

	<!-- TODOs: -->
	<!-- [x] Monitoring aktivieren http://127.0.0.1:8080/actuator/ -->
	<!-- [] Passwort verschlüsseln -->
	<!-- [] Tests schreiben -->

	<div class="container">

		<div class="row">

			<div class="col-12">
				<br /> <br />
				<h2>Detailansicht für Benutzer</h2>
			</div>
		</div>

		<div class="row pt-5">

			<div class="col-12">
				<h5 class="text-primary">Eingabe Benutzerobject</h5>
			</div>

			<div class="col-12">
				<form action="" method="post">
					<textarea name="base64Object" th:text="${base64TextareaContent}" rows="5" class="w-100">
					</textarea>

					<br />
					<button type="submit" class="btn btn-primary">Benutzerdaten
						anzeigen</button>

				</form>

			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<br />
				<h5 class="text-primary">Ausgabe Benutzerdaten:</h5>
			</div>
		</div>

		<div class="row border">
			<div class="col-12">
				<div th:utext="${parsedOutput}"></div>
			</div>

		</div>

	</div>

	<script src="/js/jquery-3.3.1.slim.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>